@page "/Cities"
@using Microsoft.EntityFrameworkCore
@using POSApp.Data
@using POSApp.Models
@inject DialogService dialogService
@inject ApplicationDbContext db;

<h1>List Of Cities </h1>

<RadzenButton Click=OpenDialog Text="New City" Icon="save" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Large" class="rz-border-radius-10 rz-shadow-4" />


@code {


    protected override void OnInitialized()
    {
        base.OnInitialized();
        int  c = 5;

        var cities1 = db.Cities.ToList();
        var cities = db.Cities.ToList();
    }

    public async Task OpenDialog()
    {
        await dialogService.OpenAsync<UpsertCity>($"City ",
               new Dictionary<string, object>() { { "Id", 5 } },
               new DialogOptions()
               {
                  ShowClose = false,
                   Resizable = true,
                   Draggable = true,
                  Width = "400px",
                  Height = "350px",
               });
    }
}
