@inherits LayoutComponentBase
@inject NavigationManager nv
<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="sidBarClic" />
                <h3>Ali alshareef</h3>
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar Responsive="false" Style="width: max-content">
        
        <RadzenPanelMenu DisplayStyle="Display()" ShowArrow="false">

            <RadzenPanelMenuItem Text="My Text" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Counter" Icon="local_shipping" Path="/counter" />
            <RadzenPanelMenuItem Text="Weather" Icon="rainy" Path="/weather" />

            <RadzenPanelMenuItem Text="UI Fundamentals" Icon="auto_awesome">
                <RadzenPanelMenuItem Text="Counter" Icon="local_shipping" Path="/counter" />
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <RadzenButton Click=GoToUrl Icon="search" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" class="rz-border-radius-10 rz-shadow-4" />
        <h5 class="text-center">حقوق النشر 2025</h5>
    </RadzenFooter>
</RadzenLayout>
@code{
    bool SBE = true;
    void GoToUrl()
    {
        nv.NavigateTo("https://www.facebook.com/alddeyafa/?locale=ar_AR", true);
    }
    MenuItemDisplayStyle Display()
    {
        if (SBE)
        {
            return MenuItemDisplayStyle.IconAndText;
        }
        return MenuItemDisplayStyle.Icon;
    }
    void sidBarClic()
    {
        if (SBE)
        {
            SBE = false;
        }
        else
        {
            SBE = true;
        }
    }
}
